<section class="product-header">
    <div>
        <h2>Productos</h2>
        <h3>Aquí puedes <span class="text-highlight">Crear</span> / <span class="text-highlight">Actualizar</span> / <span class="text-highlight-red">Eliminar</span>            tus productos.</h3>
    </div>
    <div class="grid-filters">
        <!-- Input Busqueda -->
        <div>
            <h3>Para <span class="text-highlight-red">Eliminar</span> o <span class="text-highlight">Actualizar</span> un producto, puedes buscar por Código o Detalle</h3>
        </div>
        <div class="search-container">
            <div class="input-field">
                <i class="fa fa-search prefix"></i>
                <input type="text" maxlength="25" placeholder="Buscar por Código">
            </div>
            <div class="input-field search-detail">
                <i class="fa fa-search prefix"></i>
                <input type="text" maxlength="25" placeholder="Buscar por Detalle">
            </div>
        </div>
    </div>
</section>
<div class="product-form-box">
    <!-- Formulario -->
    <section class="product-form">
        <form class="col s12" [formGroup]="productForm" novalidate>
            <!-- BOTON LIMPIAR FORMULARIO -->
            <div class="row">
                <button (click)="cleanProductForm()" class="clean-btn waves-effect waves btn-flat right">
                    <i class="fa fa-eraser left"></i> Limpiar
                </button>
            </div>

            <div class="row">
                <!-- CODIGO -->
                <div class="input-field col s4">
                    <input [(ngModel)]="product.Codigo" [readonly]="isUpdate" name="codigo" (blur)="getProductBase($event.target.value)" placeholder="De Barra o Propio"
                        formControlName="codigo" onlyNumbers maxlength="13" type="text">
                    <label>Código</label>
                    <i materialize="tooltip" data-position="right" data-html="true" data-delay="50" class="material-icons helper-icon" data-tooltip="Puedes ingresar el código usando tú <b>pistola lectora o el teclado.</b></br>
                Si el producto <b>no tiene código</b>, te recomendamos crear uno de <b>hasta 5 dígitos con números del 1 al 99999</b>">info_outline</i>
                </div>
                <!-- DETALLE -->
                <div class="input-field col s8">
                    <input [(ngModel)]="product.Detalle" formControlName="detalle" name="detalle" maxlength="40" data-length="40" type="text"
                        placeholder="Ejemplo: Coca-cola Zero">
                    <label>Detalle</label>
                </div>
            </div>
            <!-- ERRORES DE VALIDACION -->
            <div *ngIf="formErrors.codigo" class="error-box">
                {{ formErrors.codigo }}
            </div>
            <div *ngIf="formErrors.detalle" class="error-box">
                {{ formErrors.detalle }}
            </div>

            <div class="row">
                <!-- MARCA -->
                <div class="input-field col s6">
                    <input [(ngModel)]="product.Marca" formControlName="marca" maxlength="30" type="text" placeholder="Ejemplo: Nestle, Costa, Carosi">
                    <label>Marca</label>
                </div>
                <!-- PESO NETO -->
                <div class="input-field col s2">
                    <input [(ngModel)]="product.Peso" decimalsFormatter formControlName="peso" (keypress)="decimalValidator($event)" id="peso"
                        type="text" placeholder="Ej: 10">
                    <label for="peso">Peso Neto</label>
                </div>
                <!-- UNIDAD DE MEDIDA -->
                <div class="input-field col s4">
                    <select [(ngModel)]="product.UnidadMedidaId" (change)="zeroOrNullValidator($event.target.value) ? unidadMedidaFlag = false : unidadMedidaFlag = true"
                        formControlName="unidadMedida" materialize="material_select">
                <option value="0">Selecciona Unidad</option>
                <option *ngFor="let unit of units" [attr.value]="unit.Id">{{ unit.Detalle }} ({{ unit.Codigo }})</option>
            </select>
                    <label>Unidad de Medida</label>
                </div>
            </div>
            <!-- ERRORES DE VALIDACION -->
            <div *ngIf="formErrors.marca" class="error-box">
                {{ formErrors.marca }}
            </div>
            <div *ngIf="formErrors.peso" class="error-box">
                {{ formErrors.peso }}
            </div>
            <div *ngIf="formErrors.unidadMedida" class="error-box">
                {{ formErrors.unidadMedida }}
            </div>
            <div *ngIf="unidadMedidaFlag" class="error-box">
                Debe seleccionar una Unidad de Medida.
            </div>
            <!-- CATEGORIAS -->
            <div class="row">
                <div class="input-field col s12">
                    <select [(ngModel)]="product.CategoriaId" (change)="zeroOrNullValidator($event.target.value) ? categoriaFlag = false : categoriaFlag = true"
                        formControlName="categoria" materialize="material_select">
                <option value="0">Selecciona una Categoría</option>
                <option *ngFor="let category of categories" [attr.value]="category.Id">{{ category.Detalle }}</option>
            </select>
                    <label>Categoría</label>
                </div>
            </div>
            <!-- ERRORES DE VALIDACION -->
            <div *ngIf="categoriaFlag" class="error-box">
                Debe seleccionar una Categoría.
            </div>

            <div class="row">
                <!-- PROVEEDOR -->
                <div class="input-field col s8">
                    <select [(ngModel)]="product.ProveedorId" (change)="zeroOrNullValidator($event.target.value) ? proveedorFlag = false : proveedorFlag = true"
                        formControlName="proveedor" materialize="material_select">
                <option value="0">Selecciona un Proveedor</option>
                <option *ngFor="let provider of providers" [attr.value]="provider.Id">{{ provider.Nombre }}</option>
            </select>
                    <label>Proveedor</label>
                </div>
                <!-- STOCK CRITICO -->
                <div class="input-field col s4">
                    <input [(ngModel)]="product.StockCritico" formControlName="stockCritico" type="text" required placeholder="Ej: 10" class="validate">
                    <label>Stock Crítico</label>
                    <i materialize="tooltip" data-position="right" data-html="true" data-delay="50" class="material-icons helper-icon" data-tooltip="El <b>Stock Crítico</b>, es la cantidad mínima de este producto en stock.</br>Con esta información podemos avisarte y evitar que quedes <b>desabastecido.</b>">info_outline</i>
                </div>
            </div>
            <!-- ERRORES DE VALIDACION -->
            <div *ngIf="proveedorFlag" class="error-box">
                Debe seleccionar un Proveedor.
            </div>
            <div *ngIf="formErrors.stockCritico" class="error-box">
                {{ formErrors.stockCritico }}
            </div>

            <div class="row">
                <!-- COSTO -->
                <div class="input-field col s3">
                    <input onClick="this.select();" onlyNumbers (blur)="detectChangeCostAndMargin()" [(ngModel)]="product.Costo" formControlName="costo"
                        type="text" class="validate" placeholder="$">
                    <label>Costo</label>
                </div>
                <!-- MARGEN -->
                <div class="input-field col s2">
                    <input onClick="this.select();" onlyNumbers (blur)="detectChangeCostAndMargin()" [(ngModel)]="product.Margen" formControlName="margen"
                        type="text" placeholder="Ej: 10" class="validate">
                    <label>Margen</label>
                </div>
                <!-- TIPO DE MARGEN -->
                <div class="input-field col s3">
                    <select [(ngModel)]="product.TipoMargenId" (change)="getPriceByMarginType($event.target.value)" formControlName="tipoMargen"
                        materialize="material_select">
                        <option value="0">Selecciona</option>
                        <option *ngFor="let margin of margins" [attr.value]="margin.Id">{{ margin.Codigo }}</option>
                    </select>
                    <label>Tipo de Margen</label>
                </div>
                <!-- PRECIO DE VENTA -->
                <div class="col s4">
                    <div><label for="clientName">Precio de Venta</label></div>
                    <div class="price-box">
                        <span id="clientName">$ {{ product.Precio | thousands }}</span>
                        <i materialize="tooltip" data-position="right" data-html="true" data-tooltip="Nosotros calculamos el <b>Precio de Venta</b> por ti.<br>Solo debes ingresar el <b>Costo, Margen y Tipo de Margen de Ganancia</b> que más te acomode."
                            data-delay="50" class="material-icons">info_outline</i>
                    </div>
                </div>
            </div>
            <!-- ERRORES DE VALIDACION -->
            <div *ngIf="formErrors.costo" class="error-box">
                {{ formErrors.costo }}
            </div>
            <div *ngIf="formErrors.margen" class="error-box">
                {{ formErrors.margen }}
            </div>
            <div *ngIf="tipoMargenFlag" class="error-box">
                Debe seleccionar un Tipo de Margen de Ganancia.
            </div>

            <!-- BOTONES -->
            <div class="row form-btns">
                <div class="col s5">
                    <button *ngIf="isUpdate" (click)="deleteProduct()" class="waves-effect waves-light btn btn-delete"><i class="fa fa-trash left"></i>Eliminar</button>
                </div>
                <div class="save-btn-box col s5 offset-s2">
                    <div *ngIf="!isUpdate">
                        <button (click)="addProduct()" [disabled]="!productForm.valid" class="waves-effect waves-light btn"><i class="fa fa-plus-square left"></i>Crear</button>
                    </div>
                    <div *ngIf="isUpdate">
                        <button class="waves-effect waves-light btn" (click)="updateProduct()" [disabled]="!productForm.valid"><i class="fa fa-pencil-square-o left"></i>Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <!-- GRILLA PRODUCTOS -->
    <section class="product-grid">
        <!-- Cabecera -->
        <section class="table-header">
            <ul>
                <li style="width: 45px">#</li>
                <li style="width: 125px">Código</li>
                <li style="width: 290px">Detalle</li>
                <li style="width: 100px">Precio</li>
            </ul>
        </section>
        <!-- Cuerpo -->
        <section class="table-body-container">
            <div class="border-three table-body-empty center" *ngIf="productsGrid.length === 0; else showGrid">
                <i class="material-icons">add_shopping_cart</i>
                <div>Aún no tienes ningún producto. Crea uno completando el formulario de la izquierda.</div>
            </div>
            <ng-template #showGrid>
                <div class="loading-products" *ngIf="isLoadingProducts">
                    <app-big-spinner></app-big-spinner>
                    <span>Cargando Productos</span>
                </div>
                <div class="border-three table-body" *ngIf="!isLoadingProducts">
                    <table class="striped highlight">
                        <tbody>
                            <tr (click)="putProductOnForm(product)" *ngFor="let product of productsGrid; let i = index">
                                <td class="center-align" style="width: 45px">{{ i + 1 }}</td>
                                <td style="width: 125px">{{ product.Codigo }}</td>
                                <td class="truncate" style="width: 250px" class="">{{ product.Detalle }}</td>
                                <td class="center-align" style="width: 100px">$ {{ product.Precio | thousands }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </section>
    </section>
</div>