$primary-color: #757575
$secondary-color: #33BB22
$info-color: #01579b

// CABECERA
.product-header  
    display: flex
    flex-direction: row
    justify-content: space-between
    h3
        font-size: 1rem
    .grid-filters
        min-width: 580px
        padding: 20px 0 10px 0
        h3
            margin: 0
        .search-container        
            display: flex
            flex-direction: row
            justify-content: space-between
            margin-top: 5px
            .search-detail
                width: 340px
            .input-field
                margin: 0
                i
                    float: left
                    top: 10px
                    left: -2px
                    font-size: 1.2rem
                input
                    height: 40px
                    padding-left: 30px
                    margin: 0

// FORMULARIO PRODUCTOS
.product-form-box
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    margin-bottom: 15px
    .product-form
        min-width: 540px
        margin-right: 15px
        .row
            margin-bottom: 0
        label
            color: black
        .error-box
            padding: 0 0.75rem        
        .clean-btn
            color: $secondary-color
            &:hover
                color: lighten($secondary-color, 15%)        
        .helper-icon
            position: absolute
            top: 15px
            cursor: help
            right: 11px
            z-index: 1
            color: $primary-color
            &:hover
                cursor: help
                color: lighten($primary-color, 15%)
        .price-box
            display: flex
            align-items: center
            justify-content: space-between
            span
                font-size: 1.5rem
            i
                color: $primary-color
                &:hover
                    cursor: help
                    color: lighten($primary-color, 15%)
        .form-btns
            margin-top: 20px
            .save-btn-box
                text-align: end

// GRILLA DE PRODUCTOS
.product-grid
    min-width: 580px
    // Cabecera Grilla
    .table-header
        background: $primary-color
        ul 
            margin: 0
            display: flex
            flex-direction: row
            flex-wrap: wrap
            li
                display: flex
                align-items: center
                justify-content: center
                height: 2.5rem
                color: white
                font-weight: 700
    // Cuerpo Grilla
    .table-body-container
        border-right: 1px solid gainsboro
        border-bottom: 1px solid gainsboro
        border-left: 1px solid gainsboro
        height: 460px
        .loading-products
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            span
                font-size: 1.5rem
                color: $primary-color
        .table-body-empty
            height: 100%
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            font-weight: 700
            color: gainsboro
            font-size: 25px
            i
                font-size: 5rem
        .table-body
            overflow-y: scroll
            flex: 1
            tbody tr
                cursor: pointer
                td
                    padding: 7px 5px
