.menu-container
  background: #33BB22
  .menu-box
    margin: 0 20px
    .tabs
      display: flex
      background: transparent
      height: 40px
      .tab
        height: inherit
        margin: 0 10px
        a
          display: flex
          align-items: center
          justify-content: center

.sub-menu-mantencion 
  position: absolute
  background: #33BB22
  top: 96px
  left: 197px
  width: 189px
  z-index: 999
  .ul-sub-menu
    flex-direction: column
    margin: 0
    li
      cursor: pointer
      height: 40px
      display: flex
      align-items: center
      justify-content: flex-start      
      a
        color: rgba(255, 255, 255, 0.7)
        padding: 0 20px
        height: inherit
        display: flex
        align-items: center
        &:hover
          color: white
    
.menu-text
  margin: 0 10px
  font-weight: 700
  font-size: 0.9rem