<!-- Menu Vertical -->
<section class="menu-container z-depth-2">
    <div class="menu-box">
        <ul class="tabs" materialize="tabs">
            <li class="tab" style="width: 150px">
                <a (click)="closeMenu()" [routerLink]="['/home']">
                    <i class="material-icons">home</i>
                    <span class="menu-text">Inicio</span>
                </a>
            </li>
            <li class="tab" style="width: 180px">
                <a style="cursor:pointer" (click)="toggleMenu()">
                    <i class="material-icons">expand_more</i>
                    <span class="menu-text">Mantención</span>
                </a>             
            </li>
            <li class="tab" style="width: 180px">
                <a (click)="closeMenu()">
                    <i class="material-icons">assignment_turned_in</i>
                    <span class="menu-text">Inventario</span>
                </a>
            </li>                        
            <li class="tab" style="width: 150px">
                <a (click)="closeMenu()" [routerLink]="['/venta']">
                    <i class="material-icons">attach_money</i>
                    <span class="menu-text">Punto de Venta</span>
                </a>
            </li>
            <li class="tab" style="width: 200px">
                <a (click)="closeMenu()" [routerLink]="['/dashboard']">
                    <i class="material-icons">insert_chart</i>
                    <span class="menu-text">Reportes</span>
                </a>
            </li>
            <li class="tab" style="width: 200px">
                <a (click)="closeMenu()" [routerLink]="['/config']">
                    <i class="material-icons">build</i>
                    <span class="menu-text">Configuración</span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- SubMenu Mantención -->
<div *ngIf="menuState" class="sub-menu-mantencion">
    <ul id='mantencionDropDown' class="ul-sub-menu">
        <li><a (click)="toggleMenu()" [routerLink]="['/productos']"><i class="material-icons">add_shopping_cart</i><span class="menu-text">DE PRODUCTOS</span></a></li>
        <li><a (click)="toggleMenu()" ><i class="material-icons">face</i><span class="menu-text">DE CLIENTE</span></a></li>
        <li><a (click)="toggleMenu()"><i class="material-icons">store</i><span class="menu-text">DE SUCURSALES</span></a></li>
        <li><a (click)="toggleMenu()"><i class="material-icons">money_off</i><span class="menu-text">DE DESCUENTOS</span></a></li>
    </ul> 
</div>  

