$primary-color: #757575
$secondary-color: #33BB22

.sells-container
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    //Contenedor de la grilla de ventas, las busquedas y los accesos directos
    .grid-shortcut-container
        padding: 15px
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-around
        // Grilla Venta
        .grid-box
            min-width: 800px
            .sell-product-grid-container
                width: 777px
                // Cabecera Grilla
                .table-header
                    ul 
                        margin: 0
                        display: flex
                        flex-direction: row
                        flex-wrap: wrap
                        li
                            display: flex
                            align-items: center
                            justify-content: center
                            height: 2.5rem
                            color: white
                            font-weight: 700
                // Cuerpo Grilla
                .table-body-container
                    border-right: 1px solid gainsboro
                    border-bottom: 1px solid gainsboro
                    border-left: 1px solid gainsboro
                    height: 45vh
                    .table-body-empty
                        height: 100%
                        display: flex
                        align-items: center
                        justify-content: center
                        font-weight: 700
                        color: gainsboro
                        font-size: 25px
                    .table-body
                        overflow-y: scroll
                        flex: 1
                        tbody 
                            td
                                padding: 7px 5px
                            .input-cantidad
                                text-align: center
                                margin: 0 !important
                                height: 1.5rem
                                cursor: pointer

            // Contenedor busqueda de clientes y productos
            .client-and-totals-box 
                display: flex
                flex-direction: row
                flex-wrap: nowrap
                justify-content: space-between
                // Contenedor busqueda cliente
                .search-client-box
                    padding: 10px
                    width: 450px
                    height: 180px
                    margin: 0 0 10px 0  
                .totals-container
                    width: 310px
                    height: 180px
                    margin: 0 23px 10px 0
                    padding: 25px 15px 0 15px    
                    .totals-box
                        ul 
                            margin: 0
                            li
                                display: flex
                                flex-direction: row
                                justify-content: space-between
                                div
                                    display: inline-block
                        .subtotal
                            margin-bottom: 10px
                        .descuento
                            margin-bottom: 10px
                            a
                                cursor: pointer
                                font-weight: 700
                                width: 100%
                                color: $secondary-color
                                &:hover
                                    color: lighten($secondary-color, 15%)
                        .total-line
                            border: 1px solid black
                            margin: 15px 0 25px 0
                        .total
                            margin-bottom: 0
                            font-size: 1.6rem
                            font-weight: 700
                        
            
        // Contenedor de accesos directos        
        .shortcut-box
            min-width: 350px
            padding: 10px 15px
            display: flex
            flex-direction: column
            margin: 0
            .search-product-box
                width: 100%
                height: 50px
                margin-bottom: 10px
                text-align: center
                .input-field
                    text-align: center
                    margin: 0
                    i
                        float: left
                        top: 10px
                        left: -2px
                        font-size: 1.2rem
                    input
                        height: 40px
                        padding-left: 30px
                        margin: 0

                // Caja productos buscados
                .box-products-finded
                    position: absolute
                    min-width: 500px
                    min-height: 200px
                    top: 55px
                    z-index: 999
                    background-color: white
                    padding: 15px
                    border: 1px solid $secondary-color
                    .product-notfound
                        display: flex
                        flex-direction: column
                        align-items: center
                        margin-top: 20px
                        div:first-child
                            margin: 10px
                            color: $secondary-color
                    table
                        font-size: 0.9rem
                        tr
                            cursor: pointer
                            td
                                padding: 5px
            .shortcuts
                height: 100%
                display: flex
                flex-direction: column
                align-items: center
                .shortcuts-header  
                    display: flex
                    flex-direction: row
                    align-items: center
                    justify-content: space-between
                    width: 100%
                    i
                        font-size: 2.4rem
                        color: $secondary-color
                        &:hover
                            color: lighten($secondary-color, 15%)
                ul
                    width: 330px 
                .collapsible-header
                    color: whitesmoke
                    font-weight: 700
                    background: $primary-color
                    &:hover
                        background: lighten($primary-color, 5%)
                .collapsible-body
                    display: flex
                    flex-flow: row wrap
                    justify-content: space-around
                    padding: 0.5rem
                    a 
                        margin: 0.5rem

        .details-box
            display: flex
            flex-direction: column
            justify-content: space-between
            margin: 0 0 0 1rem
            min-width: 250px
            padding: 15px
            .payment-box
            .cash-box
                label
                    font-size: 0.9rem
                .cash    
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    font-size: 1.5rem
                    font-weight: 700

