<section class="component-body">
    <div class="bread-box">
        <a class="breadcrumb">Almacervice</a>
        <a class="breadcrumb">Punto de Venta</a>
    </div>
    <div class="sells-container">
        <div class="grid-shortcut-container card grey lighten-4">
            <section class="grid-box">
                <div class="client-and-totals-box">
                    <!-- Detalle del Cliente -->
                    <section class="search-client-box card">
                        <buscar-cliente></buscar-cliente>
                    </section>
                    <!-- Total y descuentos -->
                    <div class="totals-container card">
                        <div class="totals-box">
                            <ul>
                                <!-- SubTotal -->
                                <li class="subtotal">
                                    <div>Subtotal:</div>
                                    <div>$ {{ getSubtotal() | thousands }}</div>
                                </li>
                                <!-- Descuento -->
                                <li class="descuento">
                                    <a title="Click aquí para ver el detalle de los descuentos" (click)="openModalDiscount()">
                                        <div>Descuentos:</div>
                                        <div class="right">$ {{ 54102 | thousands }}</div>
                                    </a>
                                    <!-- Modal Descuento -->
                                    <div id="modalDiscount" materialize="modal" [materializeActions]="modalActions" class="modal bottom-sheet">
                                        <div class="modal-content" style="width: 100%">
                                            <h4>Detalle de descuentos</h4>
                                            <ul class="collection">
                                                <li class="collection-item avatar">
                                                    <img src="./assets/descuento.jpg" alt="descuento" class="circle">
                                                    <div><span class="title">Descuento al producto</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="total-line"></li>
                                <!-- Total -->
                                <li class="total">
                                    <div>Total:</div>
                                    <div>$ {{ sale.total| thousands }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Grilla de Venta -->
                <div class="sell-product-grid-container card">
                    <!-- Cabecera -->
                    <section class="table-header grey darken-1">
                        <ul>
                            <li style="width: 45px">#</li>
                            <li style="width: 125px">Código</li>
                            <li style="width: 250px">Detalle</li>
                            <li style="width: 80px">Cantidad</li>
                            <li style="width: 100px">Precio</li>
                            <li style="width: 120px">Total</li>
                            <li style="width: 40px"></li>
                        </ul>
                    </section>
                    <!-- Cuerpo -->
                    <section class="table-body-container">
                        <div class="border-three table-body-empty center" *ngIf="productsForSale.length === 0">
                            <span>Ingresa un producto para comenzar la venta</span>
                        </div>
                        <div class="border-three table-body" *ngIf="productsForSale.length > 0">
                            <table class="striped centered highlight">
                                <tbody>
                                    <tr *ngFor="let product of productsForSale; let i = index">
                                        <td style="width: 45px">{{ i + 1 }}</td>
                                        <td style="width: 125px">{{ product.Codigo }}</td>
                                        <td style="width: 250px">{{ product.Detalle }}</td>
                                        <td style="width: 80px">
                                            <input onClick="this.select();" class="input-cantidad" type="text" 
                                                [(ngModel)]="product.Cantidad" 
                                                (keypress)="validateDecimal($event)"
                                                decimalsFormatter>
                                        </td>
                                        <td style="width: 100px">$ {{ product.Precio | thousands }}</td>
                                        <td style="width: 120px">$ {{ product['Total'] = getTotalByProduct(product) | thousands }}</td>
                                        <td style="width: 40px">
                                            <a (click)="deleteRowFromSalesGrid(product)" title="Eliminar">
                                                <i class="delete-btn fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </section>

            <!-- Busqueda de productos -->
            <section class="shortcut-box card">
                <!-- Busqueda de Producto por Nombre -->
                <section class="search-product-box">
                    <!-- Input Busqueda -->
                    <div class="input-field">
                        <i class="fa fa-search prefix"></i>
                        <input type="text" maxlength="25" placeholder="Buscar producto por nombre..." (ngModelChange)="searchProductsByName($event)"
                            [(ngModel)]="productSearched">
                    </div>
                    <!-- Grilla Resultado Busqueda -->
                    <div *ngIf="boxProductsFindedFlag" class="box-products-finded z-depth-5">
                        <div class="product-notfound" *ngIf="productsFinded.length === 0">
                            <div><i class="fa fa-frown-o fa-5x" aria-hidden="true"></i></div>
                            <div>No existe el producto, le recomendamos agregarlo.</div>
                        </div>

                        <table class="striped highlight" *ngIf="productsFinded.length > 0">
                            <thead>
                                <tr>
                                    <td>Código</td>
                                    <td>Detalle</td>
                                    <td>Precio</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr (click)="selectProductByName(pF)" *ngFor="let pF of productsFinded">
                                    <td>{{ pF.Codigo }}</td>
                                    <td>{{ pF.Detalle }}</td>
                                    <td>$ {{ pF.Precio | thousands }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <!-- Accesos Rapidos -->
                <section class="shortcuts">
                    <div class="shortcuts-header">
                        <h2>Accesos Rápidos</h2>
                        <div>
                             <a class="waves-effect waves btn-floating btn-flat"
                                materialize="tooltip" data-position="top" data-tooltip="Añadir / Modificar" data-delay="50"
                             >
                                <i class="material-icons">touch_app</i>
                             </a>
                        </div>
                    </div>
                    <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Panadería</div>
                            <div class="collapsible-body flex-body">
                                <a href="#!" class="chip truncate">Pan Marraqueta</a>
                                <a href="#!" class="chip truncate">Pan Completo</a>
                                <a href="#!" class="chip truncate">Pan Dobladita</a>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Pastelería</div>
                            <div class="collapsible-body flex-body">
                                <a href="#!" class="chip truncate">Pastel Selva Negra Marca Lider</a>
                                <a href="#!" class="chip truncate">Berlín Crema</a>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Licores y Bebidas</div>
                            <div class="collapsible-body flex-body">
                                <a href="#!" class="chip truncate">Coca-cola Zero 1 ltr</a>
                                <a href="#!" class="chip truncate">Cerveza Cristal Lata</a>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>

            <!-- Totales, forma de pago y vuelto  -->
            <section class="details-box card">
                <div class="payment-box">
                    <div class="input-field">
                        <select materialize="material_select" class="icons">
                            <option value="" selected data-icon="./assets/efectivo.png" class="left circle">Efectivo</option>
                            <option value="" data-icon="./assets/debit-card.png" class="left circle">Tarjeta de debito</option>
                            <option value="" data-icon="./assets/credit-card.png" class="left circle">Tarjeta de crédito</option>
                            <option value="" data-icon="./assets/cheque.png" class="left circle">Cheque</option>
                        </select>
                        <label>Forma de Pago</label>
                    </div>
                    <div class="input-field">
                        <select materialize="material_select" class="icons">
                            <option value="" selected data-icon="./assets/boleta.png" class="left circle">Boleta</option>
                            <option value="" data-icon="./assets/factura-elect.png" class="left circle">Factura</option>        
                        </select>
                        <label>Tipo de Documento</label>
                    </div>
                </div>
                <div class="cash-box">
                    <div class="input-field">
                        <input id="input_vuelto" type="text" onlyNumbers>
                        <label for="input_vuelto">Ingresar monto para cálcular vuelto</label>
                    </div>
                    <div class="cash">
                        <div>Vuelto: </div>
                        <div>$ {{ 0 | thousands }}</div>
                    </div>
                </div>
                <div>
                    <a class="waves-effect waves-light btn-large"><i class="material-icons right">shopping_cart</i>Terminar Venta</a>
                </div>
            </section>
        </div>
    </div>
</section>