.navbar
    height: 55px
    .navbar-container
        display: flex
        align-items: center
        padding: 5px 20px
        height: inherit
        .logo-box
            width: 30%
            .ul-logo 
                margin: 0
                display: flex
                align-items: center
                li 
                    display: inline-block                
                .version-box 
                    width: 4rem
                    font-size: 10px
                    color: whitesmoke 
        .nav-box
            width: 70%
            .nav-box-container
                display: flex
                flex-direction: row
                width: 85%
                float: right
                .store-box 
                    width: 34%
                    height: inherit
                    border-right: 2px solid whitesmoke
                .date-box
                    width: 22%
                    height: inherit
                .user-box
                    width: 34%
                    height: inherit
                    border-left: 2px solid whitesmoke
                    a
                        color: whitesmoke
                        width: 100%
                        cursor: pointer
                    .user-options-box
                        z-index: 1
                        position: absolute
                        width: 23vw
                        top: 53px
                        right: 4px
                        height: 25vh
                        background: white
                        padding: 5px
                        

.display-and-margin
    margin: 0 10px
    color: whitesmoke
    text-align: center

.inline 
    display: inline-block
    margin: 0 5px

.nav-primary-text 
    font-weight: 700
    font-size: 0.8rem

.nav-secondary-text
    font-size: 0.8rem

.nav-icon-size 
    font-size: 1.8rem
