<div class="grey darken-1 navbar">
    <div class="navbar-container">
        <section class="logo-box">
            <ul class="ul-logo">
                <li><img style="width: 3rem" class="responsive-img" src="./assets/logotipo.png" alt=""></li>
                <li><img style="width: 10rem" class="responsive-img" src="./assets/tipografia.png" alt=""></li>
                <li class="version-box right-align"><span>Versión 1.0.0</span></li>
            </ul>
        </section>
        <div class="nav-box">
            <div class="nav-box-container">
                <section class="store-box display-and-margin">
                    <div class="inline">
                        <i class="material-icons nav-icon-size">store</i>
                    </div>
                    <div class="inline">
                        <div>
                            <span class="nav-primary-text">Almacén Carolina</span>
                        </div>
                        <div>
                            <span class="nav-secondary-text">Sucursal: Casa Matríz</span>
                        </div>
                    </div>
                </section>
                <section class="date-box display-and-margin">
                    <div class="inline">
                        <i class="material-icons nav-icon-size">today</i>
                    </div>
                    <div class="inline">
                        <div>
                            <span class="nav-primary-text">{{ date }}</span>
                        </div>
                        <div>
                           <span class="nav-secondary-text">{{ clock | async }}</span>
                        </div>
                    </div>
                </section>
                <section class="user-box display-and-margin">
                    <a (click)="toggleProfileState()">
                        <div class="inline"> 
                            <i class="material-icons nav-icon-size">account_circle</i>
                        </div>
                        <div class="inline">
                            <div>
                                <span class="nav-primary-text">Ignacio Céspedes</span>
                            </div>
                            <div>
                                <span class="nav-secondary-text">Administrador</span>
                            </div>
                        </div>
                        <div class="inline">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                    </a>
                    <div *ngIf="profileState" class='user-options-box'>
                        <button (click)="closeSesion()" class="btn waves-effect waves-light red accent-4" type="submit" name="action">
                            <i class="fa fa-sign-out right"></i>
                            Cerrar Sesión
                        </button>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>


