<body>
    <div style="background-image: url(./assets/login-cover.jpeg)" class="background-image"></div>

    <!-- Login Body -->
    <section class="login-body-container">
        <div class="login-form-container">
            <!-- Almacervice Logo -->
            <section class="logo-box">
                <img width="300px" src="./assets/Almacervice.png" alt="Logo Almacervice">
            </section>

            <div class="form-box">
                <!-- PRE-LOADER -->
                <div style="height: 100%" [hidden]="!tryLogin">
                    <section class="login-spinner-box">
                        <app-big-spinner></app-big-spinner>
                        <span>Iniciando Sesión</span>
                    </section>
                </div>
                <!--/ PRE-LOADER -->

                <!-- Login Form -->
                <form [hidden]="tryLogin || authService.isLoggedIn" novalidate (ngSubmit)="onLogin()" [formGroup]="loginForm">
                    <!-- Title -->
                    <h1>Ingreso Clientes</h1>
                    <h2>Ingrese su <span class="text-highlight">Rut y Contraseña</span> para entrar al sistema.</h2>


                    <section>
                        <!-- Rut -->
                        <div class="rutdv-box">
                            <div class="input-field">
                                <input formatRut placeholder="Ej: 11254875-5" id="rut" maxlength="10" type="text" name="rut" formControlName="rut" [(ngModel)]="usuario.rut"
                                    class="form-control" />
                                <label for="rut">Rut</label>
                            </div>
                        </div>
                        <div class="error-box">
                            <div *ngIf="formErrors.rut" class="red-text text-accent-4">
                                {{ formErrors.rut }}
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="pass-box">
                            <div class="input-field">
                                <input placeholder=" " id="password" maxlength="10" type="{{ inputType }}" class="form-control" name="password" formControlName="password"
                                    [(ngModel)]="usuario.password" />
                                <label for="password">Contraseña</label>
                            </div>
                            <i class="material-icons rigth btn-view-password" (mouseover)="inputType = 'text'" (mouseout)="inputType = 'password'" materialize="tooltip"
                                data-position="right" data-delay="50" data-tooltip="Ver clave">visibility</i>
                        </div>
                        <div class="error-box">
                            <div *ngIf="formErrors.password" class="red-text text-accent-4">
                                {{ formErrors.password }}
                            </div>
                        </div>
                    </section>

                    <!-- Button Submit -->
                    <section class="row">
                        <section class="input-field">
                            <button type="submit" class="btn-login waves-effect waves-light btn-large" [disabled]="!loginForm.valid">Entrar
                            </button>
                        </section>
                    </section>

                    <section class="row">
                        <section class="input-field col s12 blue-text text-darken-4">
                            <a href="#">¿Olvidó su Clave?</a>
                        </section>
                    </section>
                </form>
            </div>
        </div>
    </section>
</body>