@keyframes fade-in 
    from
        opacity: 0
    to
        opacity: 1

$primary-color: #757575
$secondary-color: #33BB22

.background-image
  background-size: cover
  background-position: center
  width: 100vw
  height: 100vh
  filter: blur(1px)

.login-body-container
    position: absolute
    top: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    .login-form-container
        background: whitesmoke
        width: 765px
        height: 520px
        padding: 20px
        animation: fade-in 2s forwards
        filter: blur(0) !important
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        align-items: center
        border-radius: 10px
        .logo-box
            margin-right: 20px
        .form-box
            border: 1px solid $secondary-color
            width: 100%
            height: 100%
            text-align: center
            .login-spinner-box
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                height: 100%
                span
                    font-size: 1.5rem
                    color: $primary-color
            h1 
                margin: 1rem 0
            .rutdv-box
                padding-left: 20px 
                display: flex
                flex-direction: row
                margin: auto
                align-items: center
                width: 200px
            .pass-box
                padding-left: 20px
                display: flex
                flex-direction: row
                margin: 10px auto 0
                align-items: center
                width: 200px

.input-field input
    text-align: center

.btn-login
    width: 250px

label
    color: black

.btn-view-password:hover 
  color: lighten($secondary-color, 15%)
  cursor: pointer

.btn-view-password
    color: $secondary-color

a
    color: $secondary-color
    &:hover 
        color: lighten($secondary-color, 15%)
        text-decoration: underline

h1
    font-size: 2rem
h2
    font-size: 1rem
    .text-highlight
        color: $secondary-color