<section class="component-body">
    <div class="bread-box">
        <a class="breadcrumb">Almacervice</a>
        <a class="breadcrumb">Mantención</a>
        <a class="breadcrumb">Productos</a>
    </div>
    <div class="products-container grey lighten-4 card">
        <!-- Menu Productos -->
        <section class="products-menu card">
            <div class="collection">
                <a class="collection-item" [class.active]="selectedMenu === 'product' " (click)="toggleProductMenu('product')">Productos</a>
                <a class="collection-item" [class.active]="selectedMenu === 'masiveProducts' " (click)="toggleProductMenu('masiveProducts')">Carga Masiva de Productos</a>
            </div>
        </section>
        <!-- Mantenedor Productos -->
        <section [ngSwitch]="selectedMenu" class="products-box card">
            <div class="" *ngSwitchCase="'product'">
                <form-producto></form-producto>
            </div>
            <!-- Carga Masiva -->
            <div class="" *ngSwitchCase="'masiveProducts'">
                <section class="product-header">
                    <div>
                        <h2>Carga Masiva de Productos</h2>
                        <h3>Aquí puedes <span class="text-highlight">Crear</span> tus productos cargando un archivo Excel.</h3>
                    </div>
                    <div class="grid-filters">

                    </div>
                </section>
            </div>
        </section>
    </div>
</section>