$primary-color: #757575
$secondary-color: #33BB22

.products-container
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    padding: 15px
    .products-menu
        width: 310px
        height: 120px
        padding: 10px
        .collection-item
            font-weight: 700
            color: $primary-color
            cursor: pointer
        .collection-item.active
            background: $primary-color
            color: white
    .products-box
        width: 100%
        margin-bottom: 10px
        margin-left: 20px
        padding: 0 20px