<div class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions"><!--(init)="this.openModal()"-->
    <div class="modal-content">
        <h4>Bienvenido a <img src="./assets/tipografia.png" alt=""> <span>Ignacio Céspedes</span></h4>
        <p>Espera un momento por favor, estamos cargando algunos datos para que tu experiencia sea más placentera</p>
        <ul class="collection with-header">
            <li class="collection-item">
                <div>
                    <b>Productos</b>
                    <a class="secondary-content" [ngSwitch]="loadProductsState">
                        <app-small-spinner *ngSwitchCase="'loading'"></app-small-spinner>
                        <i class="material-icons" *ngSwitchCase="'done'">done</i>
                        <i class="material-icons" style="color:#D50000" *ngSwitchCase="'error'">error</i>
                    </a>                   
                </div>
            </li>
            <li class="collection-item">
                <div>
                    <b>Categorías de Productos</b>
                    <a class="secondary-content" [ngSwitch]="loadCategoriesState">
                        <app-small-spinner *ngSwitchCase="'loading'"></app-small-spinner>
                        <i class="material-icons" *ngSwitchCase="'done'">done</i>
                        <i class="material-icons" style="color:#D50000" *ngSwitchCase="'error'">error</i>
                    </a>                   
                </div>
            </li>
            <li class="collection-item">
                <div>
                    <b>Unidades de Medida</b>
                    <a class="secondary-content" [ngSwitch]="loadUnitsState">
                        <app-small-spinner *ngSwitchCase="'loading'"></app-small-spinner>
                        <i class="material-icons" *ngSwitchCase="'done'">done</i>
                        <i class="material-icons" style="color:#D50000" *ngSwitchCase="'error'">error</i>
                    </a>                   
                </div>
            </li>
            <li class="collection-item">
                <div>
                    <b>Proveedores</b>
                    <a class="secondary-content" [ngSwitch]="loadProvidersState">
                        <app-small-spinner *ngSwitchCase="'loading'"></app-small-spinner>
                        <i class="material-icons" *ngSwitchCase="'done'">done</i>
                        <i class="material-icons" style="color:#D50000" *ngSwitchCase="'error'">error</i>
                    </a>                   
                </div>
            </li>  
            <li class="collection-item">
                <div>
                    <b>Tipos de Margen de Ganancia</b>
                    <a class="secondary-content" [ngSwitch]="loadMarginsState">
                        <app-small-spinner *ngSwitchCase="'loading'"></app-small-spinner>
                        <i class="material-icons" *ngSwitchCase="'done'">done</i>
                        <i class="material-icons" style="color:#D50000" *ngSwitchCase="'error'">error</i>
                    </a>                   
                </div>
            </li>                                                  
        </ul>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light btn" [disabled]="!hasAllLoaded">Comenzar</button>
    </div>
</div>
<header>
    <app-navbar></app-navbar>
    <app-menu></app-menu>
</header>
<section>
    <router-outlet></router-outlet>
</section>