$primary-color: #757575
$secondary-color: #33BB22

.modal-content
    h4
        display: flex
        flex-wrap: wrap
        flex-direction: row
        align-items: center
        img
            margin: 0 10px
            width: 240px
        span
            color: $secondary-color
.modal-footer
    padding: 0 24px