/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/sass/components/color"

// Override Colors Materialize Css
// ==========================================================================
// Color uno: #558b2f light-green darken-3
// Color dos: green darken-4
// Color dos: #d50000 red accent-4
// Color tres: #212121 grey darken-4
// Color cuatro: #0d47a1 blue darken-4

$primary-color: color("grey", "darken-1") !default
$primary-color-light: lighten($primary-color, 20%) !default
$primary-color-dark: darken($primary-color, 15%) !default

$secondary-color: #33BB22 !default
$success-color: color("green", "base") !default
$error-color: color("red", "base") !default
$link-color: color("light-blue", "darken-1") !default

// Tabs
$tabs-underline-color: white !default
$tabs-text-color: lighten(white, 30%) !default

// Tables
table.highlight tbody tr
    &:hover 
        background-color: color("grey","lighten-2") !important

// Spinner
$spinner-default-color: $secondary-color !default;

$roboto-font-path: "~materialize-css/fonts/roboto/";
@import "~materialize-css/sass/materialize.scss"


/** Iconos Material **/
@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./assets/icons/material_icons/material_icons.woff2) format('woff2')

.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 1.5rem
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  font-feature-settings: 'liga'
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased

/**********************/

 /** General CSS **/
*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

a 
    text-decoration: none

html 
    font-size: 15px
    line-height: 1.5
    color: #2e2f33

body 
    background-color: #f9f9f9
    height: 100%

h1 
    font-family: Roboto, sans-serif
    font-size: 250%

h2, h3 
    font-family: Roboto, sans-serif
    font-weight: lighter
h2
    font-size: 1.2rem
    font-weight: 700
h3
    font-size: 1rem
    font-weight: 700
.card
    margin-bottom: 0
    
/** TODOS LOS LABELS **/
label, .select-wrapper + label, .input-field label:not(.label-icon).active
    font-size: 0.9rem


.delete-btn
    color: $error-color
    cursor: pointer
    font-size: 1.5rem

/** ALERTAS **/
#toast-container
    top: 0
    left: 300px
    width: 1000px
    display: flex
    justify-content: center
    flex-direction: row
    flex-wrap: wrap
    .alert-box
        min-width: 500px
        padding: 5px
        display: flex
        justify-content: space-between
        align-items: center
        .alert-icon
            display: inline-block
            margin-right: 1.5rem
        .alert-text
            display: inline-block
            .alert-title
                font-weight: 700
            .alert-content
                a
                    &:hover
                        text-decoration: underline
        .alert-close
            margin-left: 2rem
            cursor: pointer
            i 
                color: whitesmoke

/** COMPONENTES **/
.component-body
    padding: 10px
    .bread-box
        padding: 10px 0 0 10px
        .breadcrumb
            color: black

/** BOTON ELIMINAR **/
.btn-delete
    background-color: #D50000 !important
    border: 1px solid #D50000
    color: white
    &:hover
        background-color: lighten(#D50000, 15%) !important
        transition: .3s ease-out
.btn-cancel
    background: #D50000

.btn-aceptar
    background: #33BB22

/** SPAN Textos destacados  **/
.text-highlight-red
    color: #D50000
.text-highlight
    color: $secondary-color

/** PlaceHolders color **/
::-webkit-input-placeholder
    color: gray

/** Cajas de error en formularios **/
.error-box
    height: 25px
    color: #D50000
    margin-bottom: 5px

/** ICONO MIGAS DE PAN **/
.breadcrumb:before
    color: black
    font-size: 19px            

/** SPINNER **/
.very-big 
    width: 100px
    height: 100px

/** PRELOADER **/
.preloader
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    flex-direction: row
    align-items: center
        
/** SWEET ALERT **/
.swal2-cancel
    background-color: transparent !important
    color: gray !important
    &:hover
        text-decoration: underline
        transition: .3s ease-out
.swal2-confirm
    background-color: #D50000 !important
    &:hover
        background-color: lighten(#D50000, 15%) !important
        transition: .3s ease-out

