$primary-color: #757575
$secondary-color: #33BB22


.search-client
  height: 60px
  border-bottom: 1px solid gainsboro
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  span
      font-size: 0.9rem
  // Input Cliente
  .search-cliente-input
      width: 150px
      .input-field
          text-align: center
          margin: 0
          i
              float: left
              top: 10px
              left: -14px
              font-size: 1.2rem
          input
              font-size: 0.8rem
              height: 40px
              padding-left: 21px
              margin: 0
              width: 125px
          ::-webkit-input-placeholder
              color: gray
  .client-rut-box
      width: 80px
      margin: 0 10px 0 15px
  .client-name-box
      width: 150px
  .btn-add-client
      a i
        color: $secondary-color
        &:hover
            color: lighten($secondary-color, 15%)
.client-detail    
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 5px
    section
        width: 50%
        span
            font-size: 0.9rem

// Caja clientes buscados
.box-clients-finded
    position: absolute
    min-width: 500px
    min-height: 200px
    top: 55px
    z-index: 999
    background-color: white
    padding: 15px
    border: 1px solid $secondary-color
    .client-notfound
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 20px
        div:first-child
            color: $secondary-color
            margin: 10px
    table
        font-size: 0.9rem
        tr
            cursor: pointer
            td
                padding: 5px
.modal-footer
    a
        color: white
        font-weight: 700
        margin: 0 10px 