<div class="search-client">
	<!-- Input Busqueda cliente-->
	<section class="search-cliente-input">
		<div class="input-field">
			<i class="fa fa-search prefix"></i>
			<input title="Ingrese el rut de su cliente para buscarlo en el sistema" type="text" maxlength="10" placeholder="Buscar cliente por rut"
			 (ngModelChange)="searchClientByRut($event)" [(ngModel)]="clientSearched">
		</div>
	</section>
	<!-- Rut Cliente -->
	<section class="client-rut-box">
		<div><label for="clientName">Rut</label></div>
		<div><span id="clientName">17418749-5</span></div>
	</section>
	<!-- Nombre Cliente -->
	<section class="client-name-box">
		<div><label for="clientName">Nombre</label></div>
		<div><span id="clientName">Ignacio Céspedes</span></div>
	</section>
	<!-- Boton nuevo cliente -->
	<section class="btn-add-client">
		<a class="waves-effect waves btn-floating btn-flat"
		materialize="tooltip" data-position="top" data-tooltip="Agregar nuevo cliente" data-delay="50" (click)="openModalAddClient()">
			<i class="fa fa-user-plus" aria-hidden="true"></i>
		</a>
	</section>
</div>
<!-- Detalle Cliente -->
<div class="client-detail">
	<section>
		<div>
			<div><label>Descuento asignado</label></div>
			<div><span>5%</span></div>
		</div>
		<div>
			<div><label>Envases Pendientes</label></div>
			<div><span><b>5</b> (Equivalentes a $ 1.500)</span></div>
		</div>				
	</section>
	<section>
		<div>
			<div><label>Deuda actual</label></div>
			<div><span>$ 15.690</span></div>
		</div>
	</section>	
</div>

<!-- Grilla Resultado Busqueda -->
<div *ngIf="boxClientFindedFlag" class="box-clients-finded z-depth-5">
	<div class="client-notfound" *ngIf="clientsFinded.length === 0">
		<div><i class="fa fa-frown-o fa-5x" aria-hidden="true"></i></div>
		<div>No existe un cliente con ese rut, le recomendamos agregarlo.</div>
	</div>

	<table class="striped highlight" *ngIf="clientsFinded.length > 0">
		<thead>
			<tr>
				<td>Rut</td>
				<td>Nombre</td>
				<td>Tipo</td>
			</tr>
		</thead>
		<tbody>
			<tr (click)="selectClient(client)" *ngFor="let client of clientsFinded">
				<td>{{ client.rut }}</td>
				<td>{{ client.nombre }}</td>
				<td>$ {{ client.tipo }}</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- Modal Descuento -->
<div materialize="modal" [materializeActions]="modalActions" [materializeParams]="[{dismissible: false}]" class="modal">
	<div class="modal-content">
		<h4>Crear Cliente</h4>
		<p>Formulario para crear un cliente</p>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect btn-flat red accent-4">Cancelar</a>
		<a class="modal-action waves-effect btn-flat light-green darken-3">Guardar</a>
	</div>
</div>